html {
  box-sizing: border-box;
  background:#202326;
  font-family:'helvetica neue';
  font-size: 20px;
  font-weight: 200;
  height: 100%;
  width: 100%;
  position: fixed;
  overflow: hidden;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  height: 100%;
}

.header {
  text-align: center;
  margin-bottom: 0px;
}

.container {
  height: 80%;
  display: flex;
  overflow: hidden;
}

.first {
  display: flex;
  overflow: hidden;
}

.second {
  display: flex;
  overflow: hidden;
}

.platform {
  background-size: cover;
  background-position: center;
  flex: 1;
  justify-content: center;
  display: flex;
  flex-direction: column;
  color: white;
  text-align: center;
}

.footer {
  height: 10%;
  position: fixed;
  color: white;
  bottom: 0;
  right: 0;
  padding: 20px;
}

.label {
  padding-bottom: 50px;
}

.footer a {
  style: none;
  color: #b4da55;
}
