html {
  box-sizing: border-box;
  background:#202326;
  font-family:'helvetica neue';
  display: block;
  height: 100%;
  width: 100%;
  position: fixed;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  display: -webkit-flex;
  height: 85vh;
  flex-direction: column;
}

.platform-row {
  color: white;
  flex: 1 100%;
  display: flex;
  display: -webkit-flex;
  padding: 20px;
}

.platform-row div {
  flex: 1 100%;
  line-height: 100px;
}

.platform-row div:not(.label) {
  text-align: center;
}

img {
  height: 20px;
  position: relative;
  top: 1vh;
}

.icon {
  display: none;
}

.person {
  display: inline;
}

.peak {
  display: inline;
}

.navigation {
  list-style: none;
  margin: 0;
  padding: 0;

  background: #202326;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  justify-content: space-between;
}

.navigation li {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: white;
}

.navigation li.about button {
  color: black;
  font-size: 2.5vh;
  border-radius: 100px;
  background-color: #b4da55;
  border-color: #b4da55;
  font-weight: 800;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  border: 1px solid transparent;
  padding: .25rem .50rem;
  outline: none;
}

.navigation li.about button.active {
  background-color: pink;
}

.navigation a {
  text-decoration: none;
  color: white;
}

.error {
  padding: 20px;
}

.error_msg {
  color: white;
  text-align: center;
}

.peakM {
  display: none;
}

.header {
  color: #b4da55;
  font-size: 30px;
  text-align: center;
}

.footer {
  display: flex;
  display: -webkit-flex;
  justify-content: flex-end;
  height: 5vh;
  color: white;
}

.footer a {
  display: flex;
  display: -webkit-flex;
  justify-content: flex-end;
  text-decoration: none;
  color: #b4da55;
  cursor: pointer;
  padding-top: 15px;
  padding-right: 10px;
}

@media all and (max-width: 900px) {
  .label {
    text-align: center;
  }
}

@media (max-width: 600px) {
  .navigation li:not(.title) {
    display: none;
  }

  .navigation li {
    text-align: center;
    padding: 10px;
    border-top: 1px solid rgba(255,255,255,0.3);
    border-bottom: 1px solid rgba(0,0,0,0.1);
  }

  .navigation li:last-of-type {
    border-bottom: none;
  }

  .label {
    padding-left: 20px;
  }

  .icon {
    display: inline;
  }

  .person {
    display: none;
  }

  .peak {
    display: none;
  }

  .peakM {
    display: inline;
  }

  .count .colon {
    display: none;
  }
}

.tooltip {
    position: relative;
}

.tooltip:after {
    position: absolute;
    padding: 20px;
    border: 3px solid #fff;
    border-radius: 8px;
    font-size: 1em;
    font-weight: 100px;
    content: attr(data-tooltip);
    color: black;
    background-color: white;
    min-width: 30px;
    /* width: -moz-max-content; */
    /* width: -webkit-max-content; */
    opacity: 0;
    transition: all .2s ease-in-out .25s;
    visibility: hidden;
    z-index: 2;
}
.tooltip:hover:after {
    opacity: 1;
    visibility: visible;
}

.tooltip-left:after {
    right: 130%;
    min-width: 500px;
}

.tooltip-left:hover:after {
    right: 110%;
}

@media (max-width: 750px) {
  .navigation {
    justify-content: center;
  }
}

@media (max-width:750px) and (min-width: 600px) {
  .navigation li:not(.title) {
    display: none;
  }
}

@media (max-width: 900px) {
  .navigation li.title {
    font-size: 20px;
  }

  .platform-card {
    display: none;
  }
}

@media (min-width: 900px) {
  .navigation li.title {
    font-size: 30px;
  }

  .container {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
  }

  .container-card {
    border: 1px solid white;
  }

  .platform-row {
    display: none;
  }

  .platform-card {
    width: 20%;
    text-align: center;
    color: black;
    padding: 20px;
  }

  .label-card {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #00009c;
    color: white;
  }

  .container-card {
    height: 100%;
  }

  .platform-row div {
    flex: 0;
  }

  .colon {
    display: none;
  }

  .label {
    text-align: center;
  }
}
