html {
  box-sizing: border-box;
  background:#202326;
  font-family:'helvetica neue';
  display: block;
  height: 100%;
  width: 100%;
  position: fixed;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
}

img {
  height: 20px;
  /*top: 20px;*/
}

.icon {
  display: none;
}

.person {
  display: inline;
}

.peak {
  display: inline;
}

.error {
  padding: 20px;
}

.error_msg {
  color: white;
  text-align: center;
}

.peakM {
  display: none;
}

.platform:nth-child(odd) {
  background-color: #323232;
}

.header {
  color: #b4da55;
  font-size: 30px;
  text-align: center;
}

.footer {
  position: absolute;
  padding-right: 10px;
  bottom: 0px;
  height: 10vh;
  width: 100%;
  text-align: right;
  color: white;
  display: inline-block;
}

.footer a {
  text-decoration: none;
  color: #b4da55;
}

@media (max-width: 500px) {

  .container {
    width: 100%;
    position: absolute;
    height: 80vh;
    display: block;
  }

  .platform {
    display: inline-block;
    height: 100vw;
    font-size: calc(15px + 8 * ((100vw - 320px) / 1180));
    height: 20%;
  }

  .platform div {
    text-align: center;
    vertical-align: middle;
    line-height: 90px;
  }

  .label {
    padding-left: 20px;
  }

  .icon {
    display: inline;
  }

  .person {
    display: none;
  }

  .peak {
    display: none;
  }

  .peakM {
    display: inline;
  }
}

@media (max-width: 750px) {
  .platform {
    display: inline-block;
    height: 60px;
    font-size: calc(15px + 8 * ((100vw - 320px) / 1180));
    height: 20%;
  }

  img {
    height: 20px;
  }

  .container {
    width: 100%;
    position: absolute;
    height: 80vh;
    display: block;
  }

  .platform {
    padding: 10px 0 10px 0;
    width: 100%;
    color: white;
    text-align: center;
  }

  .label {
    float: left;
    width: 20%;
  }

  .count {
    float: left;
    width: 40%;
  }

  .peak24 {
    float: left;
    width: 40%;
  }
}

@media (min-width: 751px) {
  .container {
    height: 80%;
    display: flex;
    overflow: hidden;
  }

  .platform {
    background-size: cover;
    background-position: center;
    flex: 1;
    justify-content: center;
    display: flex;
    flex-direction: column;
    color: white;
    text-align: center;
    font-size: calc(15px + 8 * ((100vw - 320px) / 1180));
  }
}
