@import "bourbon/bourbon";
@import "base/grid-settings";
@import "neat/neat";
@import "base/base";

html {
  body {
    h3#intro.greeting {
      position: absolute;
    }
  }
}

div.scroll-btn {
  text-align: center;
  border-radius: 50%;
  font-size: 40px;
  width: 25px;
  height: 25px;
  color: white;

}

@-webkit-keyframes pulse_animation {
  0% { -webkit-transform: scale(1); }
  50% { -webkit-transform: scale(1.2); }
  100% { -webkit-transform: scale(1); }
}

div.pulse {
  -webkit-animation-name: 'pulse_animation';
  -webkit-animation-duration: 2000ms;
  -webkit-transform-origin:90% 90%;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}

.section-1 {
  @include span-columns(12);
  max-height: 600px;

  .image-wrapper {
    @include span-columns(12);
    img {
      height: 100%;
      width: 100%;
    }
  }

  .s1-btns {
    position: absolute;
    top: 80%;
    left: 50%;
  }
  div.myinfo {
    font-size: 25px;
    color: white;
    position: absolute;
    top: 15%;
    left: 10%;

    h1 {
      height: 70px;
      font-size: 50px;
    }

    .infoquotes {
      text-align: center;
      padding-top: 60px;
      padding-left: 40px;
    }

    .scroll-btn.pulse {
      position: absolute;
      right: 50%;
    }
  }
}

.section-2 {
  @include span-columns(12);
  height: 600px;
  background: grey;

  div.s2-btns {
    div#btn2.scroll-btn.pulse {
      position: absolute;
      left: 50%;
      top: 170%;
      color: black;
    }
  }

  .bullets {
    @include span-columns(12);
    margin-top: 20px;
    padding-top: 20px;
    $icon-bullet-size: 2.5em;

    overflow: auto;
    margin-bottom: $base-line-height;

    // change ".three-col-bullet" class to this for two bullet layout
    .two-col-bullet {
      @include media($large-screen) {
        @include span-columns(6);
        @include omega(2n);
      }
    }

    .three-col-bullet {
      @include media($large-screen) {
        @include span-columns(4);
        @include omega(3n);
      }
    }

    // change ".three-col-bullet" class to this for four bullet layout
    .four-col-bullet {
      @include media($large-screen) {
        @include span-columns(3);
        @include omega(4n);
      }
    }

    .bullet-icon {
      float: left;
      background: $base-accent-color;
      padding: $icon-bullet-size /4;
      border-radius: 50%;
      width: $icon-bullet-size;
      height: $icon-bullet-size;
    }

    .bullet-icon-1 {
      background: adjust-hue($base-accent-color, -50);
    }

    .bullet-icon-2 {
      background: adjust-hue($base-accent-color, -140);
    }

    .bullet-icon-3 {
      background: $base-accent-color;
    }

    .bullet-content {
      margin-bottom: 2em;

      p {
        padding-top: 10px;
      }

      h2.skill-small {
        width: 295px;
      }

      img {
        height: 40px;
      }
    }

    h2 {
      font-size: $icon-bullet-size /2.5;
      padding-top: $icon-bullet-size /7;
      margin-bottom: $icon-bullet-size /6;
      border-bottom: 1px solid transparentize($base-font-color, .8);
    }
  }

  // Based on code by http://codepen.io/xmark/
  .fade-in-element {
    @include span-columns(12);
    @include clearfix;
    background: #FFFFFF;
    border-radius: $base-border-radius;
    border: 1px solid silver;
    box-shadow: 0 2px 2px transparentize(black, .8);
    padding: $base-spacing;
    text-align: center;
    height: 600px;
  }

  .js-fade-element-hide {
    opacity: 0;
    height: 600px;
  }

  .js-fade-element-show {
    @include transition (all 1s ease-in-out);
    opacity: 1;
    height: 600px;
  }


  #bullet-1 {
    padding: 20px;

    .bullet-content p {
      -webkit-transition: all 1s ease-out;
      -moz-transition: all 1s ease-out;
      -o-transition: all 1s ease-out;
      -ms-transition: all 1s ease-out;
      transition: all 1s ease-out;
    }

    &:hover {
      .bullet-content p {
        -webkit-transition: all 1s ease-in;
        -moz-transition: all 1s ease-in;
        -o-transition: all 1s ease-in;
        -ms-transition: all 1s ease-in;
        transition: all 1s ease-in;
        transform: scale(1.1);
        background-color: #d5f1fa;
      }
    }
  }

  #bullet-2 {
    padding: 20px;

    .bullet-content p {
      -webkit-transition: all 1s ease-out;
      -moz-transition: all 1s ease-out;
      -o-transition: all 1s ease-out;
      -ms-transition: all 1s ease-out;
      transition: all 1s ease-out;
    }

    &:hover {
      .bullet-content p {
        -webkit-transition: all 1s ease-in;
        -moz-transition: all 1s ease-in;
        -o-transition: all 1s ease-in;
        -ms-transition: all 1s ease-in;
        transition: all 1s ease-in;
        transform: scale(1.1);
        background-color: #d5f1fa;
      }
    }
  }

  #bullet-3 {
    padding: 20px;

    .bullet-content p {
      -webkit-transition: all 1s ease-out;
      -moz-transition: all 1s ease-out;
      -o-transition: all 1s ease-out;
      -ms-transition: all 1s ease-out;
      transition: all 1s ease-out;
    }

    &:hover {
      .bullet-content p {
        -webkit-transition: all 1s ease-in;
        -moz-transition: all 1s ease-in;
        -o-transition: all 1s ease-in;
        -ms-transition: all 1s ease-in;
        transition: all 1s ease-in;
        transform: scale(1.1);
        background-color: #d5f1fa;
      }
    }
  }
}


.section-3 {
  background: #FFFFFF;
  text-align: center;
  height: 600px;
  @include span-columns(12);

  h3 {
    top: 10%;
    position: relative;
  }

  .modal {
    ///////////////////////////////////////////////////////////////////////////////////
    $base-border-color: gainsboro !default;
    $base-border-radius: 3px !default;
    $base-background-color: white !default;
    $base-font-size: 1em !default;
    $base-line-height: 1.5em !default;
    $base-accent-color: #477DCA !default;
    $dark-gray: #333 !default;
    $light-gray: #DDD !default;
    $medium-screen: em(640) !default;
    $large-screen: em(860) !default;
    $base-font-color: $dark-gray !default;
    -webkit-font-smoothing: antialiased;

    h1 {
      margin: 0;
    }

    p {
      color: $base-font-color;
      line-height: $base-line-height;
    }
    //////////////////////////////////////////////////////////////////////////////////

    $modal-padding: 3em;
    $modal-background: $base-background-color;
    $modal-close-color: $light-gray;
    $modal-image-height: 135px;
    $modal-image-width: $modal-image-height;
    $modal-trigger-image-width: 300px;

    label {
      cursor: pointer;
      margin-bottom: 0;
    }

    label img {
      border-radius: $modal-trigger-image-width/2;
      display: block;
      max-width: $modal-trigger-image-width;
    }

    input[type="checkbox"] {
      display: none;
    }

    .modal-trigger {
      @include button(flat, $base-accent-color);
      padding: .8em 1em;
    }

    .modal-open {
      overflow: hidden;
    }

    .modal-window { // overlay
      @include transition(opacity .25s ease);
      @include position(fixed, 0px 0px 0px 0px);
      background: rgba(0,0,0, .85);
      opacity: 0;
      text-align: left;
      visibility: hidden;
      z-index: 99999999999;

      .modal-bg {
        @include position(absolute, 0px 0px 0px 0px);
        cursor: pointer;
      }
    }

    .modal-close {
      @include position(absolute, ($modal-padding /2) ($modal-padding /2) null null);
      @include size(1.5em);
      background: $modal-background;
      cursor: pointer;

      &:after,
      &:before {
        @include position(absolute, 3px 3px 0 50%);
        @include transform(rotate(45deg));
        @include size(.15em 1.5em);
        background: $modal-close-color;
        content: '';
        display: block;
        margin: -3px 0 0 -1px;
      }

      &:hover:after,
      &:hover:before {
        background: darken($modal-close-color, 10);
      }

      &:before {
        @include transform(rotate(-45deg));
      }
    }

    .modal-inner {
      @include transition(opacity .25s ease);
      background: $modal-background;
      border-radius: $base-border-radius;
      margin-top: .6em;
      margin: auto;
      max-height: 95%;
      overflow: auto;
      padding: $modal-padding /2;
      position: relative;
      width: 95%;

      img {
        height: 350px;
        width: 500px;
        float: left;
        padding-right: 10px;
      }

      @include media($medium-screen) {
        max-height: 80%;
        padding: $modal-padding;
        width: 60%;
      }

      @include media($large-screen) {
        margin-top: 5em;
        width: 80%;
      }

      h1 {
        color: $base-font-color;
        margin-bottom: .6em;
        text-align: left;
        text-transform: capitalize;
      }

      .modal-intro {
        font-weight: 800;
      }

      .modal-content {
        color: $base-font-color;
      }

      a.cta {
        color: white;
        display: inline-block;
        margin-right: .5em;
        margin-top: 1em;

        &:last-child {
          padding: 0 2em;
        }
      }
    }

    .modal-state:checked + .modal-window {
      opacity: 1;
      visibility: visible;
    }

    .modal-state:checked + .modal-window .modal-inner {
      top: .5em;
    }
  }

  // Based on code by Kasper Mikiewicz

  .side-image {
    ///////////////////////////////////////////////////////////////////////////////////
    $base-line-height: 1.5em !default;
    $base-accent-color: #477DCA !default;
    $base-link-color: $base-accent-color !default;
    $dark-gray: #333 !default;
    $large-screen: em(860) !default;
    $base-font-color: $dark-gray !default;
    -webkit-font-smoothing: antialiased;

    button {
      -webkit-font-smoothing: antialiased;
    }

    p {
      color: $base-font-color;
      line-height: $base-line-height;
    }
    //////////////////////////////////////////////////////////////////////////////////

    $side-image-background-top: #B5EBEB;
    $side-image-background-bottom: #5DAC5D;
    $side-image-content-background: #F9F9F9;
    $side-image-border: 1px solid darken(transparentize($side-image-background-bottom, .8), 30);

    background: $side-image-content-background;

    @include media($large-screen) {
      @include row(table);
    }

    .images-wrapper {
      @include background(url('https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png'), linear-gradient($side-image-background-top, $side-image-background-bottom), no-repeat $side-image-background-top scroll);
      background-color: $side-image-background-top;
      background-size: cover;
      border-bottom: $side-image-border;
      display: block;
      min-height: 12em;
      padding: 3em;

      @include media($large-screen) {
        @include span-columns(4);
        background-position: bottom;
        background-size: cover;
        border-right: $side-image-border;
      }
    }

    .side-image-content {
      @include span-columns(12);
      padding: 1em 1em 4em 1em;

      @include media($large-screen) {
        @include span-columns(8);
        padding: 4em 4em 8em 4em;
      }

      h1 {
        margin-bottom: .9em;
      }

      h4 {
        background: #BBB;
        color: white;
        display: inline-block;
        font-size: .75em;
        font-weight: 800;
        margin-bottom: 1.3em;
        padding: 3px 8px;
        text-transform: uppercase;
      }

      p {
        color: gray;
        margin-bottom: 3em;
      }

      button {
        @include button(flat, $base-accent-color);
        padding: .7em 1em;
      }
    }

    @include reset-display();
  }


  .cards {
    position: relative;
    top: 15%;
    @include clearfix;
  }

  .card {
    $card-border-color: $base-border-color;
    $card-border: 1px solid $card-border-color;
    $card-background: lighten($card-border-color, 10);
    $card-header-background: $card-background;
    $card-hover-background: lighten($card-background, 5);
    $card-image-background: #DBD199;
    $card-image-hover-background: lighten($card-image-background, 5);
    $card-stats-color: lighten($base-accent-color, 10);

    @include transition (all 0.2s ease-in-out);
    background-color: $card-background;
    border-radius: $base-border-radius;
    border: $card-border;
    margin-bottom: $base-spacing;
    cursor: pointer;
    box-shadow: 0 2px 4px darken($base-background-color, 10);

    @include media($large-screen) {
      @include span-columns(4);
      @include omega(3n);
    }

    .card-image {
      overflow: hidden;
      max-height: 150px;

      img {
        width: 100%;
        @include transition (all 0.2s ease-in-out);
        background: $card-image-background;
        border-top-left-radius: $base-border-radius;
        border-top-right-radius: $base-border-radius;
      }
    }

    .ribbon-wrapper {
      $ribbon-size: 85px;
      $ribbon-background: $base-accent-color;
      @include size($ribbon-size);
      overflow: hidden;
      position: absolute;
      top: -1px;
      right: -1px;

      .ribbon {
        font-size: .8em;
        font-weight: 800;
        text-align: center;
        @include transform(rotate(45deg));
        position: relative;
        padding: 2px 7px;
        left: -5px;
        top: 15px;
        width: 120px;
        background-color: $ribbon-background;
        color: white;
        box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
      }
    }

    .card-header {
      @include transition (all 0.2s ease-in-out);
      background-color: $card-header-background;
      border-bottom: $card-border;
      border-radius: $base-border-radius $base-border-radius 0 0;
      font-weight: bold;
      padding: $base-spacing/3 $gutter/2;
    }

    .card-copy {
      padding: $base-spacing/2 $gutter/2;
      font-size: .9em;
      line-height: 1.5em;
    }

    .card-stats {
      padding: $base-spacing/2 $gutter/2;
      overflow: auto;

      ul li {
        display: inline;
        color: $card-stats-color;
        font-weight: 800;
        font-size: 1.2em;
        float: left;
        border-right: 1px solid transparentize($base-font-color, .8);
        line-height: 1.1em;
        padding: 0 .7em 0 .7em;

        &:first-child {
          padding-left: 0;
        }

        &:last-child {
          border-right: 0;
        }

        span {
          color: $base-font-color;
          font-size: .7em;
          display: block;
          font-weight: normal;
        }
      }
    }

    &:hover {
      background-color: $card-hover-background;

      .card-image img {
        background: $card-image-hover-background;
      }

      .card-header {
        background-color: $card-hover-background;
      }
    }

    &:active {
      background-color: $card-background;

      .card-header {
        background-color: $card-background;
      }
    }
  }
}

.footer {
  background-color: #333333;
  height: 200px;
  @include span-columns(12);
  
  .footer-info {
    color: white;
    text-align: center;
    padding-top: 30px;
  }
}
